<!DOCTYPE html>
<html>
	<head>
		<title>Edit Book</title>
	</head>
	<body>
        <div id="templatemo_container">
            <div id="templatemo_menu">
                <ul>
                    <li><a href="/" class="current">Hello <%= current_user.email %></a></li>
                    <li><a href="/">Home</a></a></li>
                        <% if current_user.user? %>
                        <script type="text/javascript">
                            alert("Access Denied!");
                            window.location.href="/"
                        </script>
                    <% end %>
                    <li><%= link_to "Log off", destroy_user_session_path, 'data-turbo-method': :delete%></li> 
                    <li><a href="/">Back</a></li>
                </ul>
            </div> 
    
            <div id="templatemo_header">
            </div> 
            
            <div id="templatemo_content">
                <div id="templatemo_content_new">
                    <div class="title_center">
                        <h2 class="h2_class">Edit book</h2>
                    </div>
                    <div class="content_new">
                        <%= form_tag({:controller => "books", :action => "create_book"},:method => "post", :multipart => true, :class =>'') do %>
                            <table>
                                <tr>
                                    <td id="font_create">Title</td>
                                    <td id="font_create"><input type="text" name="title" required="" value="<%= !@books.blank? ?  @books.title : ' '%>" ></td>
                                    <td id="font_create">Author</td>
                                    <td id="font_create"><input type="text" name="author" value="<%= !@books.blank? ?  @books.author : ' '%>" ></td>
                                    
                                </tr>
                                <tr>
                                    <td id="font_create">Genre</td>
                                    <td id="font_create"><input type="text" name="genre"  required="" value="<%= !@books.blank? ?  @books.genre : ' '%>" ></td>
                                    
                                    <td id="font_create">Subgenre</td>
                                    <td id="font_create"><input type="text" name="subgenre"  required="" value="<%= !@books.blank? ?  @books.subgenre : ' '%>" ></td>
                                    
                                </tr>
                                <tr>
                                    <td id="font_create">Pages</td>
                                    <td id="font_create"><input type="number" name="pages"  required="" value="<%= !@books.blank? ?  @books.pages : ' '%>" ></td>
                                    
                                    <td id="font_create">Publisher</td>
                                    <td id="font_create"><input type="text" name="publisher" value="<%= !@books.blank? ?  @books.publisher : ' '%>"></td>
                                    
                                </tr>
                                <tr>
                                    <td id="font_create">Total Copies</td>
                                    <td id="font_create"><input type="number" name="copies"  required="" value="<%= !@copies_edit_book.blank? ?  @copies_edit_book : ' ' %>" ></td>
                                    <td id="font_create">Library</td>
                                    <td id="font_create"><input type="text" name="library" value="<%= !@library_edit_book.blank? ?  @library_edit_book.branch_name : ' '%>"></td>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                                <input type="hidden" name="id" value ="<%= @books.id%>" >
                            </table>
                           <p>
                                <input type="submit"  value="Save" id="create_btn" >
                                <a href="/" id="back_btn" style="text-decoration:none; text-align:center">Back</a>
                            </p>
                        <%end%>
                    </div>
                </div> 
            </div>
            <div id="templatemo_footer">
                <a href="/">Development on Ruby on Rails</a> | 
                Copyright © 2022 <a href="https://linkedin.com/in/ing-john-carlos-jejen-corredor/"><strong>John Jejen</strong></a> 
            </div> 
        </div>
	</body>
</html>