<!DOCTYPE html>
<html>
	<head>
		<title>New Book</title>
	</head>
	<body>
        <div id="templatemo_container">
            <div id="templatemo_menu">
                <ul>
                    <% if current_user %>
                        <li><a href="/" class="current">Hello <%= current_user.email %></a></li>
                        <li><a href="/">Books</a></a></li>
                        <li><a href="/library/home.html">Libraries</a></a></li>
                        <% if current_user.user? %>
                            <script type="text/javascript">
                               alert("Access Denied!");
                                window.location.href="/"
                            </script>
                        <% end %>
                        <li><%= link_to "Log off", destroy_user_session_path, 'data-turbo-method': :delete%></li> 
                    <% else %>
                        <li><a href="/" class="current">You are not sign in</a></li>  
                        <li><%= link_to "Sign up", new_user_registration_path %></li> 
                        <li><%= link_to "Login", new_user_session_path %></li>
                    <% end %>
                </ul>
            </div>
    
            <div id="templatemo_header">
            </div>
            
            <div id="templatemo_content">
                <div id="templatemo_content_new">
                    <div class="title_center">
                        <h2 class="h2_class">Create books Csv</h2>
                    </div>
                    <div class="content_new">
                        <%= form_tag({:controller => "books", :action => "create_book_csv"},:method => "post", :multipart => true, :class =>'') do %> 
                            <table>
                                    <tr></tr>
                                    <tr></tr>
                                    <tr> <input style="border-radius: 5px;" type="file" required name="file_csv" width="300" class="form-control" accept=".csv" > (files .csv)</tr>
                                    <tr> <p><input type="submit" id="create_btn"  value="Upload" ></p></tr>
                                    <%= flash[:notice] %>
                            </table>
                        <%end%>
                    
                        <%= form_tag({:controller => "books", :action => "create_book"},:method => "post", :multipart => true, :class =>'') do %>
                            <table>
                                <tr><div class="title_center"><h2 class="h2_class">Create book</h2></div></tr>
                                <tr></tr>
                                <tr>
                                    <td id="font_create">Title</td>
                                    <td id="font_create"><input style="border-radius: 5px;" type="text" name="title" required="" ></td>
                                    <td id="font_create">Author</td>
                                    <td id="font_create"><input style="border-radius: 5px;" type="text" name="author" ></td>
                                </tr>
                                <tr>
                                    <td id="font_create">Genre</td>
                                    <td id="font_create"><input style="border-radius: 5px;" type="text" name="genre"  required="" ></td>
                                    <td id="font_create">Subgenre</td>
                                    <td id="font_create"><input style="border-radius: 5px;" type="text" name="subgenre"  required="" ></td>
                                </tr>
                                <tr>
                                    <td id="font_create">Pages</td>
                                    <td id="font_create"><input style="border-radius: 5px;" type="number" name="pages"  required="" ></td>
                                    <td id="font_create">Publisher</td>
                                    <td id="font_create"><input style="border-radius: 5px;" type="text" name="publisher"></td>
                                </tr>
                                <tr>
                                    <td id="font_create">Copies</td>
                                    <td id="font_create"><input style="border-radius: 5px;" type="number" name="copies"  required="" ></td>
                                    <td id="font_create">Library</td>
                                    <td id="font_create"><input style="border-radius: 5px;" type="text" name="library"  required="" ></td>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                            </table>
                            <p>
                                <input type="submit"  value="Create" id="create_btn" >
                                <a href="/" style="text-decoration:none;"><button id="back_btn_new">Back</button></a>
                            </p>
                        <%end%>
                    </div>
                </div>
            </div>
            
            <div id="templatemo_footer">
                <a href="/">Development on Ruby on Rails</a> | 
                Copyright © 2022 <a href="https://linkedin.com/in/ing-john-carlos-jejen-corredor/"><strong>John Jejen</strong></a> 
            </div> 
        </div>
	</body>
</html>